@tailwind base;
@tailwind components;
@tailwind utilities;




.btn-water {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.4s ease;
}

.btn-water::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  width: 0%;
  height: 200%;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: width 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
}

.btn-water:hover::before {
  width: 130%;
}

.btn-water:hover {
  color: #111827;
}

.btn-water-red {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.4s ease;
}

.btn-water-red::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  width: 0%;
  height: 200%;
  background-color: #b91c1c;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: width 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
}

.btn-water-red:hover::before {
  width: 130%;
}

.btn-water-red:hover {
  color: white;
}